#feuilles{
	display:flex;
	flex-direction:column;
	
}

#oral{
	display:flex;
	flex-direction:row;
	width:800px;
}

#colonne{
	padding-right: 10px;
 	padding-left: 20px;
	width:300px;
	border-right:solid black 1.5px;
	border-left:solid black 1.5px;
}

#ecrit{
	display:flex;
	flex-direction:25px;
	width:800px;
}
